html {
  background: rgb(235, 238, 182);
  text-align: center;
  vertical-align: center;
  box-sizing: border-box;
}

h3 {
  padding: 5vw;
}

section {
  padding: 20px;
  background: linear-gradient(lightpink, black);
  border-radius: 10px;
}
section:hover {
  background: rgb(73, 134, 154);
}


img {
  width: 18vw;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  gap: 5vw;
  padding: 7vw;
}

p {
  font-size: 10px;
  color: white;
}
